<div class="announcement-bar"></div>

<style>
  .announcement-bar {
    width: 100%;
    height: 32px;
    background-color: #c1151b;
    display: block;
  }
</style>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name"
    }
  ]
}
{% endschema %}
